# Virtual environments
.venv/
venv/
env/

# Python cache and artifacts
__pycache__/
*.py[cod]
*.pyo

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


# Data outputs
data/*.xlsx
data/*.xls
data/*.csv
data/*.parquet

# Keep sample input
!data/test.html

